{% extends "base.html.twig" %}

{% block page_title %}Annuaire en maintenance{% endblock %}
{% block page_nav %}{% endblock %}

{% block page_content %}
    <main class="container mt-5">
        <div class="row justify-content-center">
            <div class="col col-md-8">
                    <img class="w-100" src="{{ asset("img/maintenance.png") }}" alt="image_maintenance">
                    <h2 class="fs-1">Le site est en maintenance</h2>
                </div>
        </div>
    </main>
{% endblock %}