{% extends "base.html.twig" %}
{% block page_title %}Page error{% endblock %}
{% block page_content %}
    <main class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8">
                <h1>Oups !</h1>
                <p>Le serveur a rencontré un problème</p>
            </div>
        </div>
    </main>
{% endblock %}
